[Unit]
Description=Refresh PDF advanced orbital visualization every 5 min
[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
[Install]
WantedBy=timers.target
