[Unit]
Description=Run PDF Threshold Tuning every 30 min
[Timer]
OnBootSec=8min
OnUnitActiveSec=30min
Persistent=true
[Install]
WantedBy=timers.target
