[Unit]
Description=Run PDF Integrity Chain every 15 min
[Timer]
OnBootSec=9min
OnUnitActiveSec=15min
Persistent=true
[Install]
WantedBy=timers.target
